<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" href="#">Home</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink='/memories'>Memories</a>
      <a class="nav-item nav-link" routerLinkActive="active" href="#">Gallery</a>
      <a class="nav-item nav-link" routerLinkActive="active" href="#">Calender</a>
      <a class="nav-item nav-link" routerLinkActive="active" href="#">Disabled</a>
    </div>
  </div>
</nav>