<div  style="display:inline-block; width: 100%; padding-bottom: 1%;">
    <div style="float:left;width: 170px;">
      <img [src]="memory.coverImage" width="150"/>
    </div>
    <div>
        <div>
          <b>{{memory.title}}</b>
          <a routerLink="/memories/edit/{{memory.id}}">Edit</a>
          <a href="#">Delete</a>
        </div>
        <span>Created Date:{{memory.createdDate}}</span>
        <span>UpdatedDate:{{memory.updatedDate}}</span>
    
        <div>{{memory.description}}</div>
    </div>
  </div>  